@charset "utf-8";

body{
	background: linear-gradient(#373755, #1d1d2d) fixed;
	/*background: linear-gradient(#242444, #040424) fixed;*/
	font-family: Gillsans;
	font-weight: bold;
	color: #FFFFFF;
	/*text-align: center;*/
}

h1{
	
	font-size: 100px;
	text-shadow: 0px 0px 30px #00000080;
	
}

h2{

	font-size: 60px;
	text-shadow: 0px 0px 10px #00000080;
	margin-bottom: 0px;

}

p{
	
	font-family: -apple-system, Sans-Serif;
	font-weight: 150;
	font-size: 40px;
	margin-top: 10px;

}

.buttons{

	text-align: center;

}

.btn-square {

	font-family: Verdana;
	background: #b98e55;/*#cba36d;*/
	color: #ffffff;
	width: 80vw;
	height: 100px;
	font-size: 40px;
	border-radius: 25px;
	box-shadow: 0px 0px 30px #00000080;
	border-width: 0px;
	margin-top: 60px;
	text-shadow: 0px 0px 30px #00000080;
	
}


.packages{

	text-align: left;

}

.packages-block{

	font-family: Verdana;
	display: inline-block;
	vertical-align: top;
	background: #cba36d;
	color: #ffffff;
	width: 400px;
	height: 200px;
	font-size: 40px;
	border-radius: 30px;
	border-width: 0px;
	margin-top: 20px;
	margin-left: 10px;
	text-align: left;
	text-shadow: 0px 0px 30px #00000080;
	
}






